{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<br><br><br>
<div class="mb-3">
<form action="{{ url_for('notesform', id=account.id) }}" method="post" autocomplete="off">
    
    <label for="date_time">Date/Time:</label>
    <input
      id="date_time"
      name="date_time"
      type="datetime-local"
      name="partydate"
      min="2020-01-01T08:30"
      max="2030-12-30T16:30" />
    <br><br>

    <select class="form-select" aria-label="Default select example" id="student_parent" name="student_parent">
        <option selected>Please Select an Option</option>
        <option value="Student">Student</option>
        <option value="Parent">Parent</option>
        <option value="Both">Both</option>
      </select>


    <br><br>

    <div class="mb-3">
        <label for="purpose" class="form-label">Purpose</label>
        <textarea class="form-control" id="purpose" name="purpose" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="outcome" class="form-label">Outcome</label>
        <textarea class="form-control" id="outcome" name="outcome" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="studentID"></label>
        <input type="hidden" class="form-control" id="studentID" name="studentID" value="{{ account.student_id }}">
    </div>

    <input type="submit" value="Submit">
</form>
</div>
{% endblock %}