html {
    background-color: #2372b6;
}

#studentform {
    max-width:400px;
	margin:50px auto;
	background:#fff;
	border-radius:2px;
	padding:30px;
    background-color: #2372b6;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}


#studentform li{
	display: block;
	padding: 5px;
	border:1px solid #DDDDDD;
	margin-bottom: 5px;
	border-radius: 2px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

#studentform li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}


input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea,
select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
}

#newstudent {
    padding: 10px 100px;
    margin: 2%;
    
    display: inline-block;  
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    
}
