<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index.css/">
</head>
<body>

    <div class="login">
        <h1>Student Hub</h1>
        <div class="formContent">
        
            <h2 class="active"><a href="{{ url_for('login') }}" class="active underlineHover">Login</a></h2>
            <h2 class="inactive"><a href="{{ url_for('register') }}" class="inactive underlineHover">Register</a></h2>
        
        
        
        <form action="{{ url_for('login') }}" method="post">
            <label for="username">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required>
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Login" id="login">
        </form>
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

        </div>


    </div>
</body>
</html>
