{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}


<table class="table table-hover caption-top">
    <caption>Student Notes</caption>
    <thead>
      <tr>
        <th>Time/Date</th>
        <th>Student/Parent</th>
        <th>Purpose</th>
        <th>Outcome</th>
      </tr>    
    </thead>
    <tbody>
    {% for account in account %}
      <tr>
        <td>{{ account['time_date'] }}</td>
        <td>{{ account['student_parent'] }}</td>
        <td>{{ account['purpose'] }}</td>
        <td>{{ account['outcome'] }}</td>
      </tr>
    {% endfor %}
    </table>
  </table>

{% endblock %}