{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<form action="/edit" method= "post">
    <div class="form-group">
        <label for="id"></label>
        <input type="hidden" class="form-control" id="id" name="id" value="{{ account.id }}">
    </div>

    <div class="form-group">
        <label for="username">username</label>
        <input type="text" class="form-control" id="username" name="username" value="{{ account.username }}">
    </div>

    <div class="form-group">
        <label for="studentID">Student ID</label>
        <input type="text" class="form-control" id="studentID" name="studentID" value="{{ account.student_id }}">
    </div>

    <div class="form-group">
        <label for="sped">Sped</label>
        <input type="text" class="form-control" id="sped" name="sped" value="{{ account.sped }}">
    </div>

    <div class="form-group">
        <label for="contactInfo">Parents Name</label>
        <input type="text" class="form-control" id="parentsName" name="parentsName" value="{{ account.parents_name }}">
    </div>

    <div class="form-group">
        <label for="contactInfo">Parents Number</label>
        <input type="text" class="form-control" id="contactInfo" name="contactInfo" value="{{ account.parents_number }}">
    </div>

    <input type="submit" value="Update">
</form>

{% endblock %}
